<mat-toolbar color="warn" class="title">Disney Insta</mat-toolbar>
<div>
    <app-posts (click)="onClick()"[pictureUrl]="'https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwj6h7CItJDnAhWSKewKHTuWAgkQjRx6BAgBEAQ&url=https%3A%2F%2Fdisney.fandom.com%2Fwiki%2FCaptain_Hook&psig=AOvVaw19Gkd_Ofi1zDA6cDl8Fld4&ust=1579548823421422'"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="''https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjMt5DftJDnAhVPNOwKHdDfC4QQjRx6BAgBEAQ&url=https%3A%2F%2Fmaleficent.fandom.com%2Fwiki%2FMaleficent&psig=AOvVaw0aMKdt8YnFi4bYI5VJgEiR&ust=1579549003506454'"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="'https://vignette.wikia.nocookie.net/disney/images/4/42/Profile_-_Lady_Tremaine.jpeg/revision/latest?cb=20190312052116'"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="'https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiIyOPotZDnAhXKoaQKHTQ0ALEQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.zedge.net%2Fwallpaper%2F97824b6e-f546-3a71-a1a6-79c7e9835699&psig=AOvVaw2R_YkglT2r2LvDaUYWesCX&ust=1579549282023809'"></app-posts>
    <app-posts (click)="onClick()"[pictureUrl]="'https://vignette.wikia.nocookie.net/parody/images/a/ab/Snow-white-disneyscreencaps.com-8111.jpg/revision/latest/scale-to-width-down/340?cb=20160206090402'"></app-posts>
</div>

<div *ngFor="let post of posts">
    <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>

<cdk-virtual-scroll-viewport [itemSize]="200" style="height: 700px">
<div *cdkVirtualFor="let post of posts">
    <app-posts (click)="onClick(post)"[pictureUrl]="post.photoUrl"></app-posts>
</div>
<div style="padding: 30px;">
    <button mat-fab color="basic" (click)="onLoadMore()">Next</button>
</div>
</cdk-virtual-scroll-viewport>